//colors//
$main-clr:#fff;
$main-light-clr:#adbfc7;
$main-dark-clr:#292d32;
$primary-clr:#fd9b78;
$secondary-clr:#fb3e6e;
$third-clr:#cc335a;
// font-size //
$main-font-size:14px;
$primary-font-size:16px;
// font-weight //
$main-font-weight:500;
$primary-font-weight:600;
$secondary-font-weight:700;
// line-height //
$main-line-height:24px;
$primary-line-height:1.6;
$secondary-line-height:38px;
$third-line-height:30px;
// transition //
$main-transition: all 0.4s linear;
$primary-transition: all 0.3s ease-out;